<div class="container">
  <gridster class="list-container" [options]="options">
    <gridster-item class="list-item" [item]="item" *ngFor="let item of  imageList | async">
      <div class="button-holder">
        <button class="button" (click)="openModal(item)">Expandir</button>

      </div>
      <img class="list-image" [src]="item.thumbnailUrl" [alt]="item.title">
      <!-- your content here -->
    </gridster-item>
  </gridster>
</div>

<app-modal [isModalOpen]="isModalOpen" [content]="selectedImage" (closeModal)="closeModal()"></app-modal>
